<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Coolink 即时通讯服务器</display-name>
	<description>Coolink 即时通讯服务器</description>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>parentContextJndiName</param-name>
		<param-value>java:comp/env/coolink/root</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.fulong.longcon.context.JndiContextLoaderListener</listener-class>
	</listener>
	
	<filter>
		<description>如果请求页面没有设置编码，则采用这个过滤器缺省设置</description>
		<display-name>编码过滤器</display-name>
		<filter-name>encoding</filter-name>
		<filter-class>com.fulong.common.servlet.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>PortalFilter</filter-name>
		<display-name>门户引擎</display-name>
		<description>门户引擎</description>
		<filter-class>com.fulong.portal.servlet.PortalFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>patterns</param-name>
			<param-value>/**/*.jsp;/**/*.jspf;/**/*.bak;/**/*.do</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-configs</param-name>
			<param-value>/WEB-INF/portlets.xml</param-value>
		</init-param>
	</filter>
	<filter>
    <filter-name>DelegatingFilterProxy</filter-name>
    <display-name>Springframe Acegi过滤器</display-name>
    <description>Springframe Acegi用的安全权限检查过滤器</description>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>filterChainProxy</param-value>
    </init-param>
  </filter>
 
 <filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.fulong.common.servlet.SpringActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/user</param-name>
			<param-value>/WEB-INF/user-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/conference</param-name>
			<param-value>/WEB-INF/conference-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<taglib>
		<taglib-uri>/WEB-INF/fulong.tld</taglib-uri>
		<taglib-location>/WEB-INF/fulong.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
</web-app>
