<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Coolink 集成开发环境</display-name>
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/app-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>parentContextJndiName</param-name>
		<param-value>java:comp/env/coolink/root</param-value>
	</context-param>
	<listener>
		<listener-class>com.fulong.longcon.context.JndiContextLoaderListener</listener-class>
	</listener>
  <filter>
    <filter-name>encoding</filter-name>
    <display-name>编码过滤器</display-name>
    <description>如果请求页面没有设置编码，则采用这个过滤器缺省设置</description>
    <filter-class>com.fulong.common.servlet.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
		<filter-name>PortalFilter</filter-name>
		<display-name>门户引擎</display-name>
		<description>门户引擎</description>
		<filter-class>com.fulong.portal.servlet.PortalFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>patterns</param-name>
			<param-value>/**/*.jsp;/**/*.jspf;/**/*.bak</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-configs</param-name>
			<param-value>/WEB-INF/portlets.xml</param-value>
		</init-param>
	</filter>
  <filter>
    <filter-name>DelegatingFilterProxy</filter-name>
    <display-name>Springframe Acegi过滤器</display-name>
    <description>Springframe Acegi用的安全权限检查过滤器</description>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>filterChainProxy</param-value>
    </init-param>
  </filter>
 
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>*.bak</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>*.jspf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DelegatingFilterProxy</filter-name>
    <url-pattern>/security/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.fulong.common.servlet.SpringActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/common</param-name>
      <param-value>/WEB-INF/common/struts-config.xml,/WEB-INF/cms/portlets-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site</param-name>
      <param-value>/WEB-INF/site/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/editor</param-name>
      <param-value>/WEB-INF/site/editor-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/channel</param-name>
      <param-value>/WEB-INF/site/channel-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/template</param-name>
      <param-value>/WEB-INF/site/template-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/resource</param-name>
      <param-value>/WEB-INF/site/resource-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/css</param-name>
      <param-value>/WEB-INF/site/css-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/rss</param-name>
      <param-value>/WEB-INF/site/rss-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/clip</param-name>
      <param-value>/WEB-INF/site/clip-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/script</param-name>
      <param-value>/WEB-INF/site/script-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/management</param-name>
      <param-value>/WEB-INF/site/management-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/site/stat</param-name>
      <param-value>/WEB-INF/site/stat-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/cms</param-name>
      <param-value>/WEB-INF/cms/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/cms/exchange</param-name>
      <param-value>/WEB-INF/cms/exchange-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/cms/content</param-name>
      <param-value>/WEB-INF/cms/content-config.xml</param-value>
    </init-param>
  
    <init-param>
      <param-name>config/cms/definition</param-name>
      <param-value>/WEB-INF/cms/definition-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/cms/manage</param-name>
      <param-value>/WEB-INF/cms/manage-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/cms/resource</param-name>
      <param-value>/WEB-INF/cms/resource-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/cms/property</param-name>
      <param-value>/WEB-INF/cms/property-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/service</param-name>
      <param-value>/WEB-INF/service/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/service/content/common</param-name>
      <param-value>/WEB-INF/service/content-common-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/service/sms</param-name>
      <param-value>/WEB-INF/service/sms-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/service/dialog</param-name>
      <param-value>/WEB-INF/service/dialog-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/process</param-name>
      <param-value>/WEB-INF/process/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/process/process</param-name>
      <param-value>/WEB-INF/process/process-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/process/activity</param-name>
      <param-value>/WEB-INF/process/activity-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/process/transition</param-name>
      <param-value>/WEB-INF/process/transition-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/process/visual</param-name>
      <param-value>/WEB-INF/process/visual-config.xml</param-value>
    </init-param>
 <init-param>
      <param-name>config/security</param-name>
      <param-value>/WEB-INF/security/struts-config.xml</param-value>
    </init-param>  
    <init-param>
      <param-name>config/security/user</param-name>
      <param-value>/WEB-INF/security/user-config.xml</param-value>
    </init-param> 
    <init-param>
      <param-name>config/security/group</param-name>
      <param-value>/WEB-INF/security/group-config.xml</param-value>
    </init-param> 
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  
   
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- servlet-mapping>
    <servlet-name>workflow</servlet-name>
    <url-pattern>*.wdo</url-pattern>
  </servlet-mapping-->
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
