/*---公用样式---*/
body {text-align:center;background-color:darkgray;}
body,div {font-size:12px;font-family:Tahoma,宋体;}
body,div,ul,p,ol,form {padding:0px;margin:0px;}
button { width:72px; height:24px}
a:link {color:#336699; text-decoration:none;}
a:visited {color:#336699; text-decoration:none;}
a:hover {color:#336699; text-decoration:none;}


#main {margin:100px 10px 10px 10px; width:340px; border:3px outset blue; background-color:#ECE9D8;}
#login {width:300px;}
#errmsg {color:#ff0000;}
.inputText{width:194px;}


