.fontcwh {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	border: 1px solid #CCCCCC;
}
body,td,th {
	font-size: 12px;
	line-height:24px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #c2def7;
}a:link {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFF00;
	text-decoration: none;
}
